Source: rootactions-servicemenu
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.2

Package: rootactions-servicemenu
Architecture: all
Depends: perl, policykit-1, dolphin, kde-baseapps-bin
Recommends: kate
Description: A Root actions service menu in dolphin
 Allows you execute certain commands as root inside the filemanager.
